*{
  box-sizing: border-box;
  margin-bottom: 2%;
  padding: ;
}
body{
  background-color: #D5C7E2;
}
img{
  max-width: 100%;
  height: auto;
  object-position: center;
}
h2{
  size: 200pt;
  letter-spacing: 5pt;
  color: #3C224B;
}
h3{
  color: #3C224B;
  text-align: center;
}
h4{
  text-align: center;

}
nav{
  position: fixed;
  top: 0px;
  margin-top: 0px;
  height: 4em;
  width: 100%;
  padding: 1.5em 2em;
  text-align: center;
}
label{
  display: inline-block;
}


.Paige-Childers{
  text-align: center;
}

/*link hover items*/
.link, .sitename {
  display: inline-block;
  margin: 1em .2em;
  min-width: 6em;
  text-align: center;
  background-color: #967BAE;
  padding: .5em 1em;
  color: white;
  text-decoration: none;
}
.link:hover{
  background-color: #64367F;
}
.links{
  display: block;
  text-align: center;
  color: #3C224B;
  text-decoration: none;
}
.links:hover{
  background-color: #EBD7F6;
  text-decoration: none;
}

/*dropdown menu*/
.dropdown{
  display: inline-block;
  text-decoration: none;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #fff;
  text-decoration: none;
}
.dropdown:hover .dropdown-content{
  display: block;
  text-decoration: none;
}
.dropdown-item:hover, .dropdown-item:hover{
  color: white;
  background-color: #EBD7F6;
  text-decoration: none;
}

/*media sites*/
.contact-info{
  color: #AB3EE7;
  text-decoration: none;
}
.contact-info:hover{
  color: #8021B5;
  text-decoration: underline;
}
.contact-info:visted{
  color: #8021B5;
  text-decoration: none;
}

.main-area{
  margin-top: 5em;
  padding: 2em;
  line-height: 1.5em;
}

.gallery{
  text-align: center;
}

/*back to top - end of page*/
.back-to-top{
  color:white;
}
.back-to-top:hover{
  color: #3C224B;
}


/*
.link:visted{
  color: darkviolet;
}*/
